<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><%= link_to "Home", root_path, class: "nav-link px-8 text-white"%></li>
  <li><%= link_to "View All Listings", listings_path, class: "nav-link px-8 text-white" %></li>
  <li><a href="/#faqs" class="nav-link px-8 text-white">FAQs</a></li>
</ul>