
<header class="p-3 bg-dark text-white">
<!-- <header class="p-3 bg-dark text-white .navbar-expand-md fixed-top"> -->

  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

   

      <%= render '/layouts/nav_lhs_links' %>
     
      <%= render '/layouts/nav_flash_output_AN' %>

     
      <%= render '/layouts/nav_rhs_buttons' %>

    </div>

  </div>

</header>

   

  