<% if user_signed_in? %>

  <div class="text-end">     
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-light me-2"  %>          
  </div>

  <div class="text-end">
    <p class="nav-link px-2 text-secondary nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" >
    &nbsp;&nbsp;Hi <%= current_user.first_name %>!
    </p>
  </div>


<% else %>

  <div class="text-end">
    <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light me-2"%>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="text-end">
    <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-warning"%>
  </div>

<% end %>