<% if flash[:errors] %>  

<section id="errors">
  <% flash[:errors].each do |error| %>
    <span style="color:red"
    class="px-2 nav col-12 col-lg-auto me-sm-auto mb-2 justify-content-center mb-md-0">
      !&nbsp;&nbsp;<%= error %>&nbsp;&nbsp;!&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
  <% end %>
</section>

<% end %>


