<section class="py-5 text-center container bg-image"

style="background-image: url('https://images.pexels.com/photos/5400082/pexels-photo-5400082.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');  
background-position: center;
background-repeat: no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height:10%;
backdrop-filter: blur(20px)">


  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <br><br><br><br><br>
      <h1 class="fw-light" style="color:white"> <%# title %> </h1>
       
        <%= link_to "Add New Board", new_board_path, class: "btn btn-dark my-2"  %> 
        <%= link_to "Return to Listing", listing_path, class: "btn btn-dark my-2"  %> 
      </p>
    </div>
  </div>
  <span style="font-style: italic; font-size:0.6em; color:azure">&nbsp;&nbsp;photo by Laker (pexels.com) </span>
</section>

<br><br>