<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <br><br><br><br><br>
      <h1 class="fw-light" style="color:white">All Surfboards</h1>
        <%= link_to button_title, new_board_path, class: "btn btn-dark my-2"  %> 
      </p>
    </div>
  </div>
</section>
<span style="font-style: italic; font-size:0.6em; color:azure">&nbsp;&nbsp;photo by Guy Kawasaki (pexels.com) </span>