<section id="faqs" 
class="d-flex h-100vh text-center text-white bg-dark d-flex justify-content-center">

  <div class="pt-4 pb-3" style="max-width:400px">
      <h4 class="mb-4"> FAQs </h4>
      <hr class="mt-3 mb-3">

      <p class="fw-bold left">Is it really free ?</p>
      <p> Yes! This platform is designed to allow people to swap their surf gear and do our part in 
        creating a sustainable environment.
      </p><br>

      <p class="fw-bold left">Is this legitimate ?</p> 
      <p>Also Yes! You can view Listings where other people are offering to swap their stuff, and make an 
        offer, or you can make a Listing yourself, you just need a free account to get started. 
      </p><br>

      <p class="fw-bold left">So how do you make your money ?</p> 
      <p>Most of the time, we don't ! If you want a premium account, which lists your gear at the top of the 
        Listings, and gives you more Listings to host at once. Our free accounts still let you have 2 Listings
        simultaneously, so if that's all you need, you are good to go! <span style="color:mediumseagreen">Also 
        at the moment all of our account holders can have unlimited use for a short time only.</span>
      </p><br>

      <p class="fw-bold left">So what's next ?</p> 
      <p>If you haven't signed up, then do this first. We only need your email and first name, and you can give
        your phone number there as well. Phone numbers are not given to anyone until you agree to a swap, and we don't share your number otherwise.
        <br><br>
        Once you have signed up, add a surfboard or surfboards to your profile ("Add a Board"). You can use this to 
        offer swaps, or make a Listing of your own, and see what other people want to offer you as a trade!
        <br><br>
        So checkout Listings and offer your own gear to swap with someone, or make your own Listing. It's up to you! 
        If the host of a listing agrees to a swap offer, then a meetup will automatically be created. Make sure you get 
        there on time, and you can make the trade. It's as easy as that.</p><br>

      <hr class="mt-2 mb-5">   
  </div>

</section>