<section 
id="learn_more"
class="d-flex h-100vh text-center text-white bg-dark d-flex justify-content-center" >

  <div class="pt-4 pb-3" style="max-width:400px"> 
      <h4 class="mb-4"> Learn More </h4>
      <hr class="mt-3 mb-3">
      <p> Surf Swap is a platform where users can list their surf gear and other users can offer trades.</p> 
      <p>At this time, we are currently only working with Sufboards, but expect to increase this in the future 
        to include wetsuits, accessories and other surf related gear </p>
      <hr class="mt-2 mb-5">   
  </div>
</section>