<%# cl_image_tag board.board_image.key, crop: :scale, width: 200, cloud_name: 'ddskwbftr' if board.board_image.attached?%>
<svg class="bd-placeholder-img card-img-top" 
width="100%" 
height="225" 
xmlns="http://www.w3.org/2000/svg" 
role="img" 
aria-label="Placeholder: Thumbnail" 
preserveAspectRatio="xMidYMid slice" 
focusable="false">
  <title>Placeholder</title>
  <rect width="100%" height="100%" fill="#55595c"></rect>
  <text x="20%" y="50%" fill="#eceeef" dy=".3em">Future Feature Slide. Stay Posted!</text>
</svg>