<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <br><br><br>
      <h1 class="fw-light" style="color:ghostwhite">Meetups</h1>
      <p class="lead text-muted">View all the Meetups you are hosting (top) and all the ones you are invited to (bottom)</p>

      <p>
        <a href="#hosted_meetups" class="btn btn-dark my-2">My Hosted Meetups</a>
        <a href="#approved_meetups" class="btn btn-light my-2">Invited to Meetups</a>
      </p>

    </div>
  </div>
</section>

<span style="font-style: italic; font-size:0.6em; color:azure">&nbsp;&nbsp;photo by Laker (pexels.com) </span>